{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="container">
        <canvas id="myChart" width="500" height="400"></canvas>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">
            $.get('{% url "consumptions:line_chart_json" object.id %}', function(data) {
                var ctx = $("#myChart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'line', data: data
                });
            });
		</script>
	</div>
{% endblock content %}
